# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
.env

# Django
db.sqlite3
media/
staticfiles/

# Environment / secrets
.env
*.env

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Build / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log